/* REMOVE ME:
 * Below is an example of a KSS-documented block.
 * The markup for this is in app/views/styleguides/.
 */

/* ----------------------------------------------------------------------------
 * Example style (.example):
 * This is an example.
 *
 * .red   - 赤
 * .blue  - 青
 * .green - 緑
 *
 * Styleguide 1.1.
 */

.example {
  font-size: 20px;
}
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: green;
}
.foo {
  font-size: 14px;
}
#bar {
  font-weight: bold;
  font-size: 18px;
}
